body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

table td {
  border-left: 100px solid white;
  border-right: 100px solid white;
  border-radius: 50px;
}

.secondRow {
  background-color: #d0d8e5;
  border: 2px solid black;
}
