<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plastic Tree</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container fornav">
      <nav class="navbar navbar-light nav-fill devbar">

        <ul class="navdoubleitems2">
          <li class="social2"><a class="socialLinks" href="https://www.facebook.com"><img href="" src="{% static 'images/facebook.png' %}" width="30" height="30" class="d-inline-block align-center" alt="Not found">/plastictree</a></li>
          <li><div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Products</h6>
              <a class="dropdown-item" href="{% url 'ptvc_app:product_bison' %}">Bison API</a>
              <a class="dropdown-item" href="#">Product 2</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Applications</h6>
              <a class="dropdown-item" href="#">App 1</a>
              <a class="dropdown-item" href="#">App 2</a>
              <a class="dropdown-item" href="#">App 3</a>
            </div>
          </div></li>
        </ul>

        <ul class="navdoubleitems2">
          <li class="social2"><a class="socialLinks" href="https://www.twitter.com"><img src="{% static 'images/twitter.png' %}" width="30" height="30" class="d-inline-block align-center" alt="Not found">/plastictree</a></li>
          <li><div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Service 1</a>
              <a class="dropdown-item" href="#">Service 2</a>
              <a class="dropdown-item" href="#">Service 3</a>
            </div>
          </div></li>
        </ul>

        <a class="navbar-brand logo" href="{% url 'ptvc_app:index' %}"><img src="{% static "images/plast.png" %}" width="150" height="120" alt="Not found"></a>

        <ul class="navdoubleitems2">
          <li class="social2"><a href="https://www.instagram.com" class="socialLinks"><img src="{% static 'images/instagram.png' %}" width="30" height="30" class="d-inline-block align-center" alt="Not found">/plastictree</a></li>
          <li><a class="btn btn-outline-secondary" href="{% url 'ptvc_app:about' %}" role="button">About us</a></li>
        </ul>

        <ul class="navdoubleitems2">
          <li class="social2"><a class="socialLinks" href="https://www.youtube.com"><img src="{% static 'images/youtube.png' %}" width="30" height="30" class="d-inline-block align-center" alt="Not found">/plastictree</a></li>
          <li><a class="btn btn-outline-secondary" href="" role="button">Contact</a></li>
        </ul>

      </nav>
    </div>

    <br>

    <div class="container">
      {% block mainblock %}
      {% endblock %}
    </div>

    <br><br>

    <div class="container">
      <nav class="navbar navbar-light nav-fill justify-content-between devbar2">

        <a class="navbar-brand justify-content-right">Receive the latest updates</a>
        <form class="form-inline justify-content-left">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
        <br><br>
        <table>
          <tr>
            <td><h6>Index data usage storage</h6></td>
            <td><h6>Content disclaimer</h6></td>
          </tr>
          <tr>
            <td><h6 id="fsizesmall">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Nulla pulvinar eleifend sem. Proin pede metus, vulputate nec,
              fermentum fringilla, vehicula vitae, justo. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos hymenaeos. Mauris tincidunt sem sed arcu. Nullam justo enim,
              consectetuer nec, ullamcorper ac, vestibulum in, elit. Maecenas libero.
              Maecenas lorem. Morbi leo mi, nonummy eget tristique non, rhoncus non leo.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Integer in sapien. In sem justo, commodo ut, suscipit at,
              pharetra vitae, orci. Aliquam erat volutpat.
            </h6></td>
            <td><h6 id="fsizesmall">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Nulla pulvinar eleifend sem. Proin pede metus, vulputate nec,
              fermentum fringilla, vehicula vitae, justo. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </h6></td>
          </tr>
        </table>
        <br>
        <a class="nav-link whitefont" href="#">Site Map</a>
        <a class="nav-link whitefont" href="#">Privacy Policy</a>
        <a class="nav-link whitefont" href="#">Pricing</a>
        <a class="nav-link whitefont" href="#">Contact</a>
        <a class="nav-link whitefont" href="#">Home</a>
      </nav>
    </div>


  </body>
</html>
