{% extends 'ptvc_app/base3.html' %}
{% load static %}
{% block mainblock %}

<link rel="stylesheet" href="{% static 'css/contact_style.css' %}">

<table class="contact-table" width="100%">
  <tr>
    <th width="33%"><img src="{% static 'images/schedule.png' %}" width="60" height="60" alt="Not found"></th>
    <th width="33%"><img src="{% static 'images/contact.png' %}" width="60" height="60" alt="Not found"></th>
    <th width="34%"><img src="{% static 'images/location.png' %}" width="60" height="60" alt="Not found"></th>
  </tr>
  <br>
  <tr>
    <td><h4>
      Monday      8:00 - 16:00 <br>
      Tuesday     8:00 - 16:00 <br>
      Wednesday   8:00 - 16:00 <br>
      Thursday    8:00 - 16:00 <br>
      Friday      8:00 - 16:00
    </h4></td>
    <td>
      <h4>Have a question or a comment? Send us a message:</h4>
      <br>
      <a class="btn btn-primary" href="{% url 'ptvc_app:new_question' %}" role="button">Contact us</a>
    </td>
    <td><h4>
      West 7th Street <br>
      Snowflake AZ <br>
      85937 <br>
      United States <br>
      +2 546 534 3421
    </h4></td>
  </tr>
</table>

<a href="https://www.google.com/maps/place/West+7th+St+S,+Snowflake,+AZ+85937,+Spojené+státy+americké/@34.5003393,-110.1071767,17z/data=!3m1!4b1!4m5!3m4!1s0x872f3ced5cbc35ff:0xd8b21b2e2f0428c2!8m2!3d34.5003393!4d-110.104988"><img src="{% static 'images/map.png' %}" width="800" height="400" alt="Not found"></a>

{% endblock %}
