{% extends 'ptvc_app/base2.html' %}
{% load static %}
{% block mainblock %}

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/product_bison_style.css' %}">
<script type="text/javascript" src="{% static 'js/bisonPricingScript.js' %}"></script>

<h1>REST APIs</h1>
<br>
<p>
  REST's client–server separation of concerns simplifies component implementation, <br>
  reduces the  complexity of  connector semantics,  improves  the effectiveness of <br>
  performance tuning,  and increases  the scalability  of pure server  components. <br>
  Layered system constraints allow intermediaries—proxies, gateways, and firewalls <br>
  — to be introduced  at various points in the  communication without changing the <br>
  interfaces  between components, thus  allowing them to  assist in  communication <br>
  translation or improve performance via large-scale, shared caching. REST enables <br>
  intermediate   processing  by  constraining  messages  to  be  self-descriptive: <br>
  interaction is stateless between requests,  standard methods and media types are <br>
  used to  indicate semantics and  exchange information,  and responses explicitly <br>
  indicate cacheability. <br>
</p>
<br><br>
<img src="{% static 'images/rest.png' %}" width="500" heigh="500" alt="Not found">

<br><br>
<h1>HTTP Methods</h1>
<br><br>

<table class="rest-method-table">
  <tr>
    <th>HTTP Method</th>
    <th>REST Operation</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>GET</td>
    <td>Retrieve</td>
    <td>Returns resource representation</td>
  </tr>
  <tr>
    <td>POST</td>
    <td>Create</td>
    <td>Creates new resource</td>
  </tr>
  <tr>
    <td>PUT</td>
    <td>Insert</td>
    <td>Updates an existing resource or creates a new one</td>
  </tr>
  <tr>
    <td>DELETE</td>
    <td>Delete</td>
    <td>Deletes an existing resource</td>
  </tr>
  <tr>
    <td>PATCH</td>
    <td>Update</td>
    <td>Updates an existing resource</td>
  </tr>
</table>

<br><br>
<h1>Pricing</h1>
<br><br>

<table width="100%">
  <tr>
    <td width="50%">
      <h2><strong>On Premise</strong></h2>
      <img src="{% static 'images/info.png' %}" width="30" height="30" alt="Not found" onclick="infoBoxFunc(0)">
    </td>
    <td width="50%">
      <h2><strong>In Cloud</strong></h2>
      <img src="{% static 'images/info.png' %}" width="30" height="30" alt="Not found" onclick="infoBoxFunc(1)">
    </td>
  </tr>

  <tr class="secondRow">
    <td width=50%>
      <h2>Server</h2><br>
      <h2 id="server-price">$700</h2><br>
      <h4>One time payment</h4><br>

      <select id="server-user-count" onchange="serverPriceChange();">
        <option value="$700">5 users</option>
        <option value="$1200">10 users</option>
        <option value="$2000">20 users</option>
        <option value="$4500">50 users</option>
        <option value="$8000">100 users</option>
      </select>
      <br><br>

      <a class="btn btn-primary" href="#" role="button">Order</a>

      <br><br>

    </td>
    <td width=50%>
      <h2>Data Center</h2><br>
      <h2 id="data-center-price">$60</h2><br>
      <h4>per month</h4><br>

      <select id="data-center-user-count" onchange="dataCenterPriceChange();">
        <option value="$60">5 users</option>
        <option value="$100">10 users</option>
        <option value="$180">20 users</option>
        <option value="$400">50 users</option>
        <option value="$750">100 users</option>
      </select>
      <br><br>

      <a class="btn btn-primary" href="#" role="button">Order</a>

      <br><br>

    </td>
  </tr>
</table>

<br><br>

{% endblock %}
