{% extends 'ptvc_app/base3_nofooter.html' %}
{% load static %}
{% block mainblock %}

<link rel="stylesheet" href="{% static 'css/under_construction.css' %}">
<script type="text/javascript" src="{% static 'js/underConstruction.js' %}"></script>


<div class="container construct-body">

  <h1>This page is under construction</h1>
  <br><br>

  <table width="100%">
    <tr>
      <td width="33%"><span id="firstHouse"><img src="{% static 'images/house1.png' %}" width="250" height="250" alt="Not found"></span></td>
      <td width="33%"><span id="secondHouse"><img src="{% static 'images/house2.png' %}" width="250" height="250" alt="Not found"></span></td>
      <td width="34%"><span id="thirdHouse"><img src="{% static 'images/home.png' %}" width="250" height="250" alt="Not found"></span></td>
    </tr>
  </table>
  <br><br>

  <h2>Please come back later</h2>
</div>

{% endblock %}
